*{
    margin: 0;
    padding: 0;
    position: fixed;
}

@font-face{
    font-family: GenJyuuGothicH;
    src: url("./font/genjyuugothic/GenJyuuGothic-P-Heavy.ttf");
}
@font-face{
    font-family: GenJyuuGothicM;
    src: url("./font/genjyuugothic/GenJyuuGothic-P-Medium.ttf");
}

.GenJyuuGothicH{
    font-family: GenJyuuGothicH;
}
.GenJyuuGothicM{
    font-family: GenJyuuGothicM;
}

body {
    background: url("assests/背景@3x.png");
    background-size: 100vw;
}

.left_selection{
    position: relative;
}

.right_selection{
    position: relative;
}

navigation_bar {    
    top: 9vh;
    left: 11.5vw;    
    color: aqua;    
}

level_group{
    position: absolute;
    left: 0vw;
}

#level_logo {
    position: absolute;
    width: 27vw;
}

money_group{
    position: absolute;
    top: 0.4vh;
    left: 10vw;
}

#money_logo{
    position: absolute;
    width: 3vw;
    left: 19.5vw;
}

#money_rect{
    position: absolute;
    width: 20vw;
    left: 23vw;
}

#money_value{
    position: absolute;
    width: 10vw;
    top: 0.3vh;
    left: 31vw;
}

#nortification{
    position: absolute;
    width: 5.3vw;
    top: 0.4vh;
    left: 56vw;
}

#setting{
    position: absolute;
    width: 6vw;
    top: 0.5vh;
    left: 64vw;
}

#help{
    position: absolute;
    width: 6vw;
    top: 0.55vh;
    left: 73vw;
}

#ass_dinasour{
    width: 63vw;
    left: 23vw;
    top: 40vh;
    opacity: 1;
}

#fTD_question{
    position: absolute;
    width: 1vw;
    left: 10vw;
    top: 29vh;
    opacity: 0;
    z-index: 0;
}

#fTD_question2{
    position: absolute;
    width: 1vw;
    left: 10vw;
    top: 29vh;
    opacity: 0;
    z-index: 0;
}

.left_selection{
    opacity: 1;
    z-index: 1;
}

#left_leaf{
    width: 43vw;
    bottom: 0vh;
    left: 0vw;
}

#mission_logo{
    width: 7vw;
    bottom: 7vh;
    left: 11vw;
}

#mission_text{
    width: 13vw;
    bottom: 4.5vh;
    left: 9vw;
}

.right_selection{
    opacity: 1;
    z-index: 1;
    position: absolute; 
}

#right_leaf{
    width: 43vw;
    bottom: 0vh;
    right: 0vw;
}

#training_logo{
    width: 11vw;
    bottom: 7.5vh;
    right: 9.5vw;
}

#training_text{
    width: 16.5vw;
    bottom: 4.5vh;
    right: 7.8vw;
}

.information_box{
    width: 100vw;
    height: 29vh;
    bottom: 0vh;
    background-color: white;
    opacity: 0;
}

#subtitle_text_01{
    position: absolute;
    width: 100vw;
    bottom: 0vh;
    opacity: 1;
}

#button_01{
    position: absolute;
    width: 18vw;
    left: 40vw;
    bottom: 5vh;
    opacity: 1;
    z-index: 1;
    display: none;
}

#subtitle_text_02{
    position: absolute;    
    width: 100vw;
    bottom: 0vh;
    opacity: 0;    
}

#subtitle_text_03{
    position: absolute;    
    width: 100vw;
    bottom: 0vh;
    opacity: 0;
}

/* 返回 */
#button_02{
    position: absolute;
    width: 19vw;
    left: 40vw;
    top: 67vh;
    opacity: 0;
    z-index: 1;
    display: none;
}
/*　結束遊戲 */
#button_03{
    position: absolute;
    width: 19vw;
    left: 40vw;
    top: 67vh;
    opacity: 0;
    z-index: 1;
    display: none;
}
/* 開始遊戲　*/
#start_button{
    position: absolute;
    width: 19vw;
    left: 40vw;
    top: 46vh;
    opacity: 0;
    z-index: 1;
    display: none;
}

@keyframes fade_in{
    100%{
        opacity: 1;       
    }
}

@keyframes fade_out{
    100%{        
        /*left: 120vw;*/
        opacity: 0;
        
    }
}

@keyframes fade_down{
    100%{        
        opacity: 1;
        bottom: -50vh;
    }
}

@keyframes fade_left{    
    100%{        
        left: 500px;
    }
}

.fade_in{
    animation-name: fade_in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.fade_out{
    animation-name: fade_out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.fade_left{
    animation-name: fade_left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#findTheDifference{
    position: absolute;
    width: 39vw;
    left: 30vw;
    top: 30vh;
    opacity: 0;
    z-index: 0;
    display: none;
}   

#jumpJumpGame{
    position: absolute;
    width: 39vw;
    left: 30vw;
    top: 49vh;
    opacity: 0;
    z-index: 0;
    display: none;
}

#cover{
    position: absolute;
    width: 80vw;
    top: 29vh;
    left: 10vw;
    opacity: 0;
    z-index: 0; 
}